.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;    
    gap: 20px;
    padding: 20px;
    margin: 0px;
  }
  
  .grid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  