.dialogContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40vh;
  left: 50%;
  background-size: contain, cover;
  background-repeat:no-repeat;
  background-size: 200% 100%;
  background-position: 20% 20% ;
  /* background-color: #e4dddd; */
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 700px;
  padding: 0;
  z-index: 1000;
  overflow-y: auto;
  max-height: 80vh;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.dialogContainer img{
  position: absolute;
  top: 60px;
  align-self: flex-start;
  height: 18vh;
  width: auto; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
  border-radius: 50%; /* Optional: Makes the image circular */
}

.dialogHeader{
  padding: 30px;
  background-repeat: no-repeat;
  background-position-y: 80%;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  
}

.dialogHeader h2{
font-size: 40px;
}



.dialogBody{
  /* position: relative; */
  padding: 50px;
  border-radius: 20px 20px  0px 0px;
  background-color:rgba(255, 255, 255, 0.5);
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: #ff4d4d;
}
.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ddd;
}

button:focus {
  outline: none;
  background-color: #ccc;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
}

h2 {
  margin-top: 20px;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

li {
  margin-bottom: 8px;
  padding: 5px 0;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
}

p {
  margin: 10px 0;
  color: #555;
  font-size: 1rem;
}
